.Accordion {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100vw;
  gap: 20px;
  padding-top: 60px;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(113, 255, 5) 0%, rgba(0,0,0,1) 22%, rgba(0,0,0,1) 78%, rgb(221, 255, 0) 100%);
}

.Accordion__List {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 96%;
  align-items: center;
  list-style-type: none;
  border-radius: 7px;
  border-bottom: 1px solid #9B9B9B;
}

.Accordion__List__Item {
  width: 100%;
  box-shadow: -5px -5px 20px rgb(0, 255, 179);
  border-radius: 12px;
}

.Accordion__List__Item__Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Accordion__List__Item__Header__Text {
  max-width: 80%;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  color:  whitesmoke;
  align-items: center;
  justify-content: center;
  transition: color 0.5s ease-out;
}

.Accordion__List__Item__Header__Text.active-text {
  color: rgb(0, 255, 208);
  font-weight: 700;
}

.Accordion__List__Item__Header {
  box-sizing: border-box;
  padding-left: 13px;
  margin-right: 24px;
  position: relative;
  width: 100%;
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.Accordion__List__Item__Collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-out;
}

.Accordion__List__Item__Collapse.open {
  height: auto;
}

.Accordion__List__Item__Body {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 0, 0);
  transition: opacity 0.4s ease-out;
  font-family: Montserrat;
}

.Accordion__List__Item__Body.open {
  opacity: 1;
}

.Accordion__List__Icon {
  margin-right: 24px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.Accordion__List__Icon.active-icon {
  transform: rotateX(90deg);
}

.Accordion__List__Icon:hover {
  transform: scale(1.09);
}

.addBtn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
